@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script>

        $(document).ready(function() {

            // invoices.

            $.ajax({
                url: "api/data/invoices",

                // Autenticazione "Basic".
                //beforeSend: function (xhr) {
                //    xhr.setRequestHeader ("Authorization", "Basic " + btoa("francesco" + ":" + "qwerty"));
                //}

            }).done(function (data) {
                $('#invoices').html(JSON.stringify(data));
            });

            // invoicesTable.

            $('#invoicesTable').DataTable({
                scrollX: true,
                deferRender: true,
                responsive: true,
                ajax: "api/data/invoiceHeaders",
                rowCallback: function( row, data ) {
                    $('td:eq(3)', row).html( '&euro;' + data["taxableAmount"] );
                    $('td:eq(4)', row).html( '&euro;' + data["totalAmount"] );
                },
                columnDefs: [
                    { orderable: false, targets: [] },
                    { className: "dt-left", targets: [0, 1] },
                    { className: "dt-center", targets: [2] },
                    { className: "dt-right", targets: [3, 4] },
                    { visible: false, targets: [] }
                ],
                columns: [
                    { "data": "invoiceNumber" },
                    { "data": "customerName" },
                    { "data": "invoiceDate" },
                    { "data": "taxableAmount" },
                    { "data": "totalAmount" }
                ]
            });

            // form.

            $( "#invoiceForm" ).submit(function( event ) {

                var invoiceNumber = $("#InvoiceNumber").val();
                var customerName = $("#CustomerName").val();

                $.ajax({
                    type: "POST",
                    url: "api/data/createInvoice",
                    data: "InvoiceNumber=" + invoiceNumber + "&CustomerName=" + customerName,
                    //dataType: "html",
                    success: function(msg) {
                        alert("Successo!");
                    },
                    error: function() {
                        alert("Chiamata fallita, si prega di riprovare...");
                    }
                });

                event.preventDefault();
            });
        });

    </script>
}

<div id="invoices"></div>

<hr/>

<div>
    <table id="invoicesTable" style="width: 100%">
        <thead>

        <tr>
            <th>invoiceNumber</th>
            <th>customerName</th>
            <th>invoiceDate</th>
            <th>taxableAmount</th>
            <th>totalAmount</th>
        </tr>

        </thead>
    </table>
</div>

<hr/>

<div>
    <form id="invoiceForm" action="api/data/createInvoice" method="post">
        <div style="margin-bottom: 10px;">InvoiceNumber:&nbsp;<input type="text" id="InvoiceNumber" name="InvoiceNumber" /></div>
        <div>CustomerName:&nbsp;<input type="text" id="CustomerName" name="CustomerName" /></div>

        <input type="submit" value="Send" />
    </form>
</div>